@font-face {
  font-family: "SmileySans";
  src: url("../fonts/SmileySans-Oblique.woff2") format("woff2");
}
@font-face {
  font-family: "NotoColorEmoji";
  src: url("../fonts/NotoColorEmoji-Regular.woff2") format("woff2");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.markdown-body {
  font-family: SmileySans, NotoColorEmoji, sans-serif;
  box-sizing: border-box;
  min-width: 200px;
  width: 100%;
  margin: 0 auto;
  padding: 45px;
}

@media (max-width: 767px) {
  .markdown-body {
      padding: 15px;
  }
}