@font-face {
  font-family: "SmileySans";
  src: url("../fonts/SmileySans-Oblique.woff2") format("woff2");
}
@font-face {
  font-family: "NotoColorEmoji";
  src: url("../fonts/NotoColorEmoji-Regular.woff2") format("woff2");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

body {
  color: #1e1f20;
  transform-origin: 0 0;
  width: 100%;
}

.container {
  font-family: SmileySans, NotoColorEmoji, sans-serif;
  width: 1800px;
  padding: 20px 15px 10px 15px;
  background-size: contain;
}

.head-box {
  border-radius: 15px;
  padding: 10px 20px;
  position: relative;
  color: #fff;
  margin-top: 30px;
}

.head-box .title {
  font-family: Helvetica;
  font-style: italic;
  font-weight: bold;
  font-size: 36px;
  text-shadow: 0 0 1px #000, 1px 1px 3px rgba(0, 0, 0, 0.9);
}

.head-box .title .label {
  display: inline-block;
  margin-left: 10px;
}

.head-box .genshin_logo {
  position: absolute;
  top: 1px;
  right: 15px;
  width: 97px;
}

.head-box .label {
  font-size: 16px;
  text-shadow: 0 0 1px #000, 1px 1px 3px rgba(0, 0, 0, 0.9);
}

.head-box .label span {
  color: #d3bc8e;
  padding: 0 2px;
}

.copyright {
  font-size: 15px;
  font-family: Helvetica;
  font-weight: bold;
  text-align: center;
  color: #fff;
  position: relative;
  padding-left: 10px;
  text-shadow: 1px 1px 1px #000;
  margin: 10px 0;
}
.copyright .version {
  color: #d3bc8e;
  display: inline-block;
  padding: 0 3px;
}

.copyright .commit_id_old {
  color: #808080;
}

.copyright .tip {
  color: #ff0000;
}
