name: Build Package
on:
  workflow_call:
    inputs:
      version:
        type: string
        required: false

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: 检出代码
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.ref || github.ref_name }}
          repository: ${{ github.event.pull_request.head.repo.full_name || github.repository }}

      - name: 设置 pnpm
        uses: pnpm/action-setup@v4
        with:
          run_install: true
      
      - name: 构建全部包
        run: | 
          pnpm run build:all
          cp -r README.md LICENSE packages/meme/
          cp -r README.md LICENSE packages/meme-api/
        
      - name: 构建meme
        run: |
          pnpm pkg delete devDependencies
          mkdir -p ${{ runner.temp }}/temp/meme
          cp -r package.json CHANGELOG.md README.md LICENSE resources config lib ${{ runner.temp }}/temp/meme
        working-directory: packages/meme

      - name: 构建meme-api
        run: |
          pnpm pkg delete devDependencies
          mkdir -p ${{ runner.temp }}/temp/meme-api
          cp -r package.json CHANGELOG.md README.md LICENSE resources config lib ${{ runner.temp }}/temp/meme-api
        working-directory: packages/meme-api

      - name: 上传meme构建产物
        uses: actions/upload-artifact@v4
        with:
          name: meme
          path: ${{ runner.temp }}/temp/meme

      - name: 上传meme-api构建产物
        uses: actions/upload-artifact@v4
        with:
          name: meme-api
          path: ${{ runner.temp }}/temp/meme-api